@model List<RoleIndexViewModel>

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title" data-aos="fade-left">
            <h2 class="card-label">
                <span class="d-block pt-5 font-size-h2-lg">ادارة الصلاحيات</span>
            </h2>
        </div>
        <div class="card-toolbar" data-aos="fade-left">
            <!--begin::Button-->
            <a href="~/Role/Add" title="اضافة صلاحية جديد" class="btn btn-primary font-weight-bolder">
                <span class="svg-icon svg-icon-md">
                    <!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg-->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24" />
                            <circle fill="#000000" cx="9" cy="15" r="6" />
                            <path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3" />
                        </g>
                    </svg>
                    <!--end::Svg Icon-->
                </span>اضافة صلاحية
            </a>
        </div>
    </div>
    <div class="card-body">
        @if (Model.Any())
        {
            <div class="table-responsive">
                <table class="table table-bordered table-striped text-center mt-3">
                    <thead>
                        <tr class="bg-primary text-white">
                            <td>إسم الصلاحية</td>
                            <td>العمليات</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var role in Model)
                        {
                            <tr data-aos="fade-left">
                                <td>@role.Name</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="MenuProcess" data-bs-toggle="dropdown" aria-expanded="false">
                                            عرض العمليات
                                        </button>
                                        <ul class="dropdown-menu DropdownMenuTable" aria-labelledby="MenuProcess">
                                            <li><a title="تعديل" asp-action="Edit" asp-route-id="@role.Id">تعديل</a></li>
                                            <li><a style="cursor:pointer" onclick="showDetails(this)"
                                                   data-ActionName="Delete"
                                                   data-ControllerName="Role"
                                                   data-IdValue="@role.Id">حذف</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="alert alert-info mt-5"> عزيزي المشرف لا يوجد أي صلاحيات !</div>
            <div class="card-footer">
                <a class="btn btn-success" asp-action="Index">الرجوع للصلاحيات</a>
            </div>
        }

    </div>
</div>
