@model ErrorOrgnizeAdd
@{
    ViewData["Title"] = "إضافة شركة";
}
<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title" data-aos="fade-left">
            <h2 class="card-label">
                <span class="d-block pt-5 font-size-h2-lg">إضافة شركة</span>
            </h2>
        </div>
    </div>
    <hr />
    <div class="card-body">
        <form class="form-group" method="post" enctype="multipart/form-data" id="myform">


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" data-aos="fade-left">
                        <label asp-for="OrgnizationAddDto.Name"></label>
                        <input asp-for="OrgnizationAddDto.Name" class="form-control" />
                        <span asp-validation-for="OrgnizationAddDto.Name" class="text-danger"></span>
                    </div>

                    <div class="form-group" data-aos="fade-left">
                        <label asp-for="OrgnizationAddDto.Email"></label>
                        <input asp-for="OrgnizationAddDto.Email" class="form-control" />
                        <span asp-validation-for="OrgnizationAddDto.Email" class="text-danger"></span>
                    </div>

                    <div class="form-group" data-aos="fade-left">
                        <label asp-for="OrgnizationAddDto.PhoneNumber"></label>
                        <input asp-for="OrgnizationAddDto.PhoneNumber" class="form-control" />
                        <span asp-validation-for="OrgnizationAddDto.PhoneNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group" data-aos="fade-left">
                        <label asp-for="OrgnizationAddDto.FullName"></label>
                        <input asp-for="OrgnizationAddDto.FullName" class="form-control" />
                        <span asp-validation-for="OrgnizationAddDto.FullName" class="text-danger"></span>
                    </div>

                    <div class="form-group" data-aos="fade-left">
                        <label asp-for="OrgnizationAddDto.Address"></label>
                        <input asp-for="OrgnizationAddDto.Address" class="form-control" />
                        <span asp-validation-for="OrgnizationAddDto.Address" class="text-danger"></span>
                    </div>

                    <div class="form-group" data-aos="fade-left">
                        <label asp-for="OrgnizationAddDto.WorkNature"></label>
                        <textarea asp-for="OrgnizationAddDto.WorkNature" class="form-control"></textarea>
                        <span asp-validation-for="OrgnizationAddDto.WorkNature" class="text-danger"></span>
                    </div>

                    <div class="form-group" data-aos="fade-left">
                        <label asp-for="OrgnizationAddDto.Password"></label>
                        <input asp-for="OrgnizationAddDto.Password" class="form-control" />
                        <span asp-validation-for="OrgnizationAddDto.Password" class="text-danger"></span>
                    </div>

                    <div class="form-group" data-aos="fade-left">
                        <label asp-for="OrgnizationAddDto.ConfirmPassword"></label>
                        <input asp-for="OrgnizationAddDto.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="OrgnizationAddDto.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    @* Start Div To Add ProfileImage To User*@
                    <div class="form-group mt-4" data-aos="fade-left">
                        @if (Model.OrgnizationAddDto.ProfileImgUser != null)
                        {
                            <img id="ProfileImg" class="Img_Profile_body img-fluid img-thumbnail "
                                 src="data:image/*;base64,@(Convert.ToBase64String(Model.OrgnizationAddDto.ProfileImgUser)) " />
                        }
                        else
                        {
                            <img id="ProfileImg" class="Img_Profile_body img-fluid img-thumbnail"
                                 src="~/Images/blank-profile.png" />
                        }
                        <label asp-for="OrgnizationAddDto.ProfileImgUser" class="Label_ProfileImg"></label>
                        <input type="file" class="form-control mt-3 col-md-9"
                               name="ProfileImage"
                               onchange="document.getElementById('ProfileImg').src= window.URL.createObjectURL(this.files[0])" />
                        <span asp-validation-for="OrgnizationAddDto.ProfileImgUser" class="text-danger"></span>
                    </div>
                    @* End Div To Add ProfileImage To User*@



                    @* Start Display All Roles*@
                    <div class="form-group  mt-5" data-aos="fade-left">
                        <label class="form-check-label">عزيزي من فضلك إختر صلاحية أو أكثر :</label>
                        @for (int i = 0; i < Model.OrgnizationAddDto.AllRoles.Count; i++)
                        {
                            <div class="form-check m-2">
                                <input type="hidden" asp-for="OrgnizationAddDto.AllRoles[i].Name" />
                                <input asp-for="OrgnizationAddDto.AllRoles[i].IsSelected"
                                       type="checkbox" class="form-check-input" />
                                <label class="form-check-label">
                                    @Model.OrgnizationAddDto.AllRoles[i].Name
                                </label>
                            </div>
                        }
                        <span asp-validation-for="OrgnizationAddDto.AllRoles" class="text-danger"></span>
                    </div>
                    @* End Display All Roles*@

                </div>

                <div class="form-group col-sm-12" data-aos="fade-left">
                    <button type="submit" class="btn btn-primary">إضافة شركة</button>
                    <a asp-action="Index" class="btn btn-primary">إلغاء</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $("#myform input:checkbox").change(function () {
            $("#myform input:checkbox").prop("checked", false);
            $(this).prop("checked", true);
        });
    </script>
}